@font-face {
    font-family: sondos;
    src: url(fonts/sondosblack.ttf);
  }
@font-face {
    font-family: hand;
    src: url('fonts/creattion-demo.regular.otf');
}
@font-face {
    font-family: Shopping;
    src: url(fonts/Shopping.ttf);
}
/* 
body style
by elhajji
 */
body{
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url('imges/sitebg.webp') ;
    background-size: cover;
    height: 100vh;

}
.cont{
    align-items: center;
    height: 95%;
}
.card-content{
    background:url('imges/card-bg0.jpg') ;
    background-size: cover;
    max-width: 320px;
    min-width: 320px;
    max-height: 188px;
    min-height: 188px;
    position: relative;
}
/* 
claas show and hide controls
 */
.hiddden{
    display: none !important;
    overflow: hidden ;
}

/* 
title card css
 */
.gov-title-ar{
    position: absolute;
    color: #9aa163;
    right: 15px;
    top: 5px;
    font-size: 12px;
    font-family: sondos;
}


.info-element , input , button ,select ,label{  
    font-family: sondos;
    color: #545454;

}
.cotrol-element{
    background-color: #9aa163;
    width: 89%;
    min-height: 188px;
    min-height: 188px;
    margin: 3px;
    padding: 16px;
}
.content-info-element{
   margin-right: 10px;
}
.gov-title-fr{
    position: absolute;
    color: #db7d54;
    letter-spacing: 0.2px;
    font-weight: bold;
    right: 15px;
    top: 16px;
    font-size: 4px;
}
.mission{
    position: absolute;
    color: #545454;
    right: 28px;
    top: 38px;
    font-size: 19px;
}
.person-info{
    position: absolute;
    color: black;
    right: 15px;
    top: 78px;
}
.person-info h3{
    font-size: 8px;
}
footer h5 a{
    text-decoration: none;
    color: white;
}
footer{
    position: absolute;
    display: flex;
    bottom: 0;
    margin-left: -32px;
    font-family: hand;
    writing-mode: vertical-rl;
}

/* media suery */
@media only screen and (max-width: 1000px) {
    /* .card-content{
        margin: 10px;
        background:url('imges/card-bg.jpg') ;
        background-size: cover;
        min-width: 320.126px;
        min-height: 180.8976px;
        position: relative;
        margin: 0px;
    } */
    footer h5 a{
        text-decoration: none;
        color: white;
        font-size: 24px;
    }
    .cotrol-element{
        overflow: scroll;
        overflow-x: hidden;
        height: 257px;
        background-color: #9aa163;
        width: 89%;
        margin: 3px;
        padding: 16px;
    }
    .cotrol-element::-webkit-scrollbar {
        display: none;
    }
    .cont{
        align-items:flex-start;
        height: 100vh;
        
    }
  }